@model CHtruyentranh.Models.Book

@{
    ViewData["Title"] = "DatHang";
}


<style>
    .row{
        color: white;
    }
    .titlecreate{
        color: white;
    }
    .backcreate{
        color: white;
    }
</style>
<div class="titlecreate">
    <h1>Dat Mua Truyen</h1>

    <h4>Nhap Thong Tin Truyen</h4>
</div>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TenTruyen" class="control-label"></label>
                <input asp-for="TenTruyen" class="form-control" />
                <span asp-validation-for="TenTruyen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NgayBan" class="control-label"></label>
                <input asp-for="NgayBan" class="form-control" />
                <span asp-validation-for="NgayBan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TheLoai" class="control-label"></label>
                <input asp-for="TheLoai" class="form-control" />
                <span asp-validation-for="TheLoai" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gia" class="control-label"></label>
                <input asp-for="Gia" class="form-control" />
                <span asp-validation-for="Gia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NoiDung" class="control-label"></label>
                <input asp-for="NoiDung" class="form-control" />
                <span asp-validation-for="NoiDung" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Mua Ngay" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="backcreate" asp-action="Index">Quay Lai Danh Sach</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
